.btn__black{
    border: 1px solid black;
    padding: 15px 20px;
    background-color: none;
    background: rgb(23, 204, 129);
    text-transform: uppercase;
    transition: 0.3s all;
    color: black;
}

.btn__black:hover{
    background: white;
    border: 1px solid black;
    color: black;
    transition: 0.3s all;
}